<!DOCTYPE html>

<head>

</head>

<body>
    <form id="formElem">
        <label for="file">文件</label>
        <input type="file" name="file" id="file" required>

        <input type="submit" value="确定">

    </form>

    <a id="ret"></a>
    <script>
        formElem.onsubmit = async (e) => {
            e.preventDefault();

            let response = await fetch('/test/api/add_file', {
                method: 'POST',
                body: new FormData(formElem)
            });
            let result = await response.text();
            switch (response.status) {
                case 200:
                    alert("200上传成功");
                    document.getElementById("ret").innerText = result;
                    document.getElementById("ret").href = '/test/get_file?file='+result;
                    break;
                case 500:
                    alert("500服务器错误,也许是没开ipfs deamon?");
                    break;
            }
        }
    </script>
</body>